data/deformity/
data/deformity_drr/
data/verse2019/
data/verse2019_fracture/
data/verse2019_drr/
data/verse2019_test1/
data/verse2019_detection_dataset/
data/verse2019_segmentation_dataset/
data/verse2020_fracture/
data/LiYang/
data/Fracture/
data/Fracture_dataset/
data/test/
data/test_drr/
data/S0000328_example/
data/Local_fracture/
data/Local_normal/
data/TD_fracture/
README_CN.md