data/deformity/
data/ct_mask/
data/deformity_drr/
data/verse2019/
data/verse2019_fracture/
data/verse2019_drr/
data/verse2019_test1/
data/verse2019_detection_dataset/
data/verse2019_segmentation_dataset/
data/verse2020_fracture/
data/verse2019_origin/
data/detection_dataset/
data/detection_segmentation/
data/paxray/
data/ct_mask/
data/LiYang/
data/Fracture/
data/Fracture_dataset/
data/test/
data/test_drr/
data/S0000328_example/
data/Local_fracture/
data/Local/
data/TD_fracture/
data/MinbboxDRR/
README_CN.md